@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 1s;
}
body {
  background: url("bg.png");
}
.title {
  font-family: "Reggae One", cursive;
  font-size: 30px;
}
/* Кнопка для генерация*/

.btnGenerate {
  font-family: "Comfortaa", cursive;
  background-color: #111;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  margin-bottom: 15px;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.text {
  margin: 15px 0;
  font-size: 24px;
  font-family: "Caveat", cursive;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  max-width: 500px;
  border-radius: 2px;
  background: #fffef1;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
